.opinions {
    padding: 16px 8px;
    background-color: rgb(238, 233, 226);
    &__title{
        font-size: 1.4rem;
    }
    .user {
        display: flex;
        align-items: center;
        gap: 8px;
        .user__data-name {
            margin: 0 0 5px 0;
        }
        &__data-rated {
            color: orange;
            &:hover {
                color: red;
            }
        }
    }
    &__button {
        display: flex;
        justify-content: center;
        gap: 7px;
    }
    .create__opinions-button {
        text-align: center;
        margin-top: 10px;
        cursor: pointer;
    }
}


