.rooms {
    padding: 16px 8px;
    &__title {
        font-size: 1.4rem;
    }
    &__container {
        width: 100%;
    }
    img {
        width: 100%;
        object-fit: cover;
        border-radius: 10px;
    }
    &__container-button {
        text-align: center;
    }
}
.circle-button {
    border-radius: 50%;
    width: 20px;
    height: 20px;
    margin: 1%;
    cursor: pointer;
    &:hover {
        opacity: 0.75;
    }
}