.booking {
    height: fit-content;
    padding: 1rem .5rem ;
    &__title {
        font-size: 1.4rem;
        font-weight: 700;
    }
    &__inputs {
        grid-gap: 10px;
        display: grid;
        justify-content: space-evenly;
        justify-items: stretch;
        input {
            overflow: auto;
            padding: 6px;        
        }
        button{
            grid-column: 1/3;
        }
    }
}
$breakpoint-tablet: 768px;
@media (min-width: $breakpoint-tablet) {
  
    .booking {
        height: fit-content;
        padding: 5rem 14.5rem 2.5rem;
        &__inputs {
            display: flex;
            justify-content: space-between;
            input {
                overflow: auto;
                padding: 6px;
                
            }
        }
    }
}

// input[type="date"]::-webkit-calendar-picker-indicator {
//     background: transparent;
//     bottom: 0;
//     color: transparent;
//     cursor: pointer;
//     height: auto;
//     left: 0;
//     position: absolute;
//     right: 0;
//     top: 0;
//     width: auto;

// /* create a new arrow, because we are going to mess up the native one
// see "List of symbols" below if you want another, you could also try to add a font-awesome icon.. */
// input[type="date"]:after {
//     content: "\25BC"; 
//     color: #555;
//     padding: 0 5px;
// }

// /* change color of symbol on hover */
// input[type="date"]:hover:after {
//     color: #bf1400;
// }

/* make the native arrow invisible and stretch it over the whole field so you can click anywhere in the input field to trigger the native datepicker*/
    input[type="date"]::-webkit-calendar-picker-indicator {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        width: auto;
        height: auto;
        color: transparent;
        background: transparent;
    }

/* adjust increase/decrease button */
// input[type="date"]::-webkit-inner-spin-button {
//     z-index: 1;
// }

//  /* adjust clear button */
//  input[type="date"]::-webkit-clear-button {
//      z-index: 1;
//  }