.booking {
    height: fit-content;
    padding: 1rem .5rem ;
    .booking__title {
        font-weight: 700;
    }
    .booking__inputs {
        grid-gap: 10px;
        display: grid;
        justify-content: space-evenly;
        justify-items: stretch;
        input {
            overflow: auto;
            padding: 6px;        
        }
        button{
            grid-column: 1/3;
        }
    }
}
$breakpoint-tablet: 768px;
@media (min-width: $breakpoint-tablet) {
  
    .booking {
        height: fit-content;
        padding: 5rem 14.5rem 2.5rem;
    }
    .booking__inputs {
        display: flex;
        justify-content: space-between;
        input {
            overflow: auto;
            padding: 6px;
            
        }
    }
}