.heroimg {
    overflow: hidden;
    position: relative;
    margin: 0;
    width: 100%;
    max-block-size: 92vh;
    &__picture {
        // display: block;
        width: inherit;
        // height: 92vh;
        object-fit: cover;
        filter: brightness(70%);
    }
    &__description {
        position: absolute;
        text-align: center;
        bottom: 50px;
        right: calc(50% - 132.4px);
        color: white;
    }
}