// Aquí Vamos a poner los estilos principales - Colores - Fuentes -Font-Weigh - Y demás estilos generales
/*===== VARIABLES CSS =====*/ 

/*===== VARIABLES CSS =====*/

/*===== COLORS =====*/
$primary-color: #332DC1;
$navy-blue: #4133FF;
$light-gray: #C4C4C4;
/*===== FONTS AND TYPOGRAOHY =====*/
$body-font: 'Poppins', sans-serif;

// Ejemplo para verificar que el Index.scss renderize los estilos
body {
    font-family: $body-font;
    background-color: white;
}