// Aquí Vamos a poner los estilos principales - Colores - Fuentes -Font-Weigh - Y demás estilos generales
/*===== VARIABLES CSS =====*/ 

/*===== VARIABLES CSS =====*/

/*===== COLORS =====*/
$primary-color: #332DC1;
$navy-blue: #4133FF;
$light-gray: #C4C4C4;
/*===== FONTS AND TYPOGRAOHY =====*/
$body-font: 'Poppins', sans-serif;

// Ejemplo para verificar que el Index.scss renderize los estilos
html {
    // 1 rem = 10px
    font-size: 62.5%;
}
body {
    font-family: $body-font;
    font-size: 1.2rem;
    background-color: white;
}

/*===== COLORS =====*/
.button {
 padding: 10px 50px;
 border-radius: 5px;
 background: transparent;
 border: 1px solid black;
 cursor: pointer;
 &--active {
     border: none;
     background: #4133FF;
     a {
         color: white;
         text-decoration: none;
     }
 }
 &--dates{
     opacity: 0;
     &:focus{
         opacity: 100;
     }
 }
}