$light-gray: #C4C4C4;

.slider {
    overflow: hidden;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    .left_arrow, .right_arrow {
        position: absolute;
        top: 50%;
        left: 32px;
        font-size: 3em;
        color: $light-gray;
        z-index: 10;
        cursor: pointer;
        user-select: none;
    }
    .right_arrow {
        left: calc(100% - 62px);
    }
    .slide {
        opacity: 0;
        transition: all 1s ease;
    }
    .slide.active {
        opacity: 1;
        transition-duration: 1s;
        transform: scale(1.08);
    }
    .image {
        max-inline-size: 100%;
        height: 244.16px;
        object-fit: cover;
        border-radius: 10px;
    }
}

