$light-gray: #C4C4C4;

.slider {
    overflow: hidden;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    &__left-arrow {
        position: absolute;
        top: calc(50% - 11.25px);
        left: 32px;
        font-size: 3em;
        color: $light-gray;
        z-index: 1;
        cursor: pointer;
        user-select: none;
    }
    &__right-arrow {
        @extend .slider__left-arrow;
        left: calc(100% - 62px);
    }
    .slide {
        min-block-size: 40vh;
        max-block-size: 92vh;
        opacity: 0;
        transition: all 1s ease;
        &__image {
            width: 100vw;
            min-block-size: inherit;
            max-block-size: inherit;
            object-fit: cover;
            border-radius: 10px;
        }
        &.active {
            opacity: 1;
            transition-duration: 1s;
            transform: scale(1.08);
        }
    }
}

