$primary-color: #332DC1;
$light-gray: #C4C4C4;

footer {
    padding: 3rem 0;
    display: flex;
    align-items: center;
    justify-content: space-around;
    background-color: $primary-color;
    color: white;
    a {
        text-decoration: none;
        color: white;
        transition: .4s all ease;
        &:hover {
            color: $light-gray;
            ;
        }
    }
    .footer__contact {
        display: flex;
        flex-direction: column;
        gap: 12px;
        a {
            display: flex;
            align-items: center;
        }
        .footer__contact-title {
            text-align: left;
            margin: 0 0 0 11px;
        }
        .footer__contact-icon {
            width: 50px;
            font-size: 2rem;
        }
    }
    .footer__social-title {
        text-align: center;
        margin: 0 0 12px 0;
    }
    .footer__social-icon-container {
        .footer__social-icon {
            width: 50px;
            font-size: 2rem;
        }
    }
}